.navbar {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}
.dropdown-menu {
    z-index: 1002;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: red;
    color: white;
}

.sidebar {
    position: sticky;
    top: 0px;
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 40px;
}

.sidebar .nav-link:hover {
    background-color: white;
    color: black;
    border: 1px;
    border-radius: 2px;
}

.sidebar .nav-item {
    margin-bottom: 8px;
}

.sidebar .nav-link {
    color: white; 
    padding-left: 50px
}

.sidebar .nav-item.active {
    background-color: white;
    color: black;
    border: 1px;
    border-radius: 2px;
}
/* .them-sv .container {
    max-width: 600px;
}
.them-sv .form-control {
    border: 1px solid black;
} */
.no-hover:hover {
    background: none !important;
    color: inherit !important; 
}
.form-control {
    border: 1px solid black;
}